In [ ]:
SELECT
    s.szoba_id,
    s.ferohely,
    DENSE_RANK() OVER (ORDER BY COUNT(f.foglalas_pk) DESC, s.ferohely ASC) AS helyezes
FROM
    Szoba s JOIN Foglalas f ON s.szoba_id = f.SZOBA_FK
GROUP BY
    s.szoba_id, s.ferohely
ORDER BY
    DENSE_RANK() OVER (ORDER BY COUNT(f.foglalas_pk) DESC, s.ferohely ASC)

In [49]:
SELECT szallashely.SZALLAS_NEV, SUM(Foglalas.FELNOTT_SZAM+GYERMEK_SZAM) AS 'Össz foglalás'

FROM szallashely INNER JOIN Szoba ON szallashely.SZALLAS_ID = szoba.SZALLAS_FK

INNER JOIN Foglalas ON Foglalas.SZOBA_FK = Szoba.SZOBA_ID

GROUP BY szallashely.SZALLAS_NEV

HAVING SUM(Foglalas.FELNOTT_SZAM+GYERMEK_SZAM) = (SELECT TOP 1 SUM(Foglalas.FELNOTT_SZAM+GYERMEK_SZAM)

 FROM szallashely INNER JOIN Szoba ON szallashely.SZALLAS_ID = szoba.SZALLAS_FK

 INNER JOIN Foglalas ON Foglalas.SZOBA_FK = Szoba.SZOBA_ID

 GROUP BY szallashely.SZALLAS_NEV

ORDER BY SUM(Foglalas.FELNOTT_SZAM+GYERMEK_SZAM) ASC)

SZALLAS_NEV,Össz foglalás
Családi Ház,52